:host {
    max-width: 850px;
    display: flex;
    column-gap: 20px;
    padding: 20px 0;
}

.img-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;

    .preview {
        height: 85px;
        border: 1px solid grey;
    }
}

.thumbnail {
    height: 450px;
    border: 1px solid grey;
}

.description {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .title {
        font-size: 1.5rem;
    }

    .price {
        font-style: italic;
    }
}
