<div class="img-nav">
    <img class="preview" src="https://i.imgur.com/wRba6Ml.jpg" />
    <img class="preview" src="https://i.imgur.com/wRba6Ml.jpg" />
    <img class="preview" src="https://i.imgur.com/wRba6Ml.jpg" />
    <img class="preview" src="https://i.imgur.com/wRba6Ml.jpg" />
    <img class="preview" src="https://i.imgur.com/wRba6Ml.jpg" />
</div>

<img class="thumbnail" src="https://i.imgur.com/wRba6Ml.jpg" />

<div class="description">
    <a class="title" href="https://www.etsy.com/" target="_blank">Rubber Ducky Stand</a>
    <span class="price">$0</span>
    <hr />
    <button>I want it!</button>
</div>
